#signin {
    .form-group {
        width: 55%;
    }
    .signin-forgot {
        display: flex;
        justify-content: flex-start;
        color: #03bafe;
    }
    .btn-signin {
        margin: 10px 0;
        width: 55%;
        height: 6vh;
    }
}